.about-section {
  display: flex;
  gap: 1rem;
}

.about-container {
  border: 0.15rem solid var(--highlight-color);
  padding: 1rem;
}
.about-img {
  border-radius: 0.5rem;
  border: 0.08rem solid var(--highlight-color);
}
